.project-top{
  height: 100%;
}
.project-card{
    min-height: 50vh;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
  .project-tile{
    color: white;
    font-size: 28pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all .35s ease-in;
  }
  .project-link a{
    color: white;
    font-size: 24pt;
    text-decoration: none;
  }
  .project-link a:hover{
    color: blue;
  }
  .project-title{
    font-size: 48pt;
  }
  .project-tile:hover{
    color: black;
    justify-content: space-between;
    background-color: white !important;
    cursor: pointer;
  }
  .logo-container{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }
  .project-tile:hover .logo-container{
    display: flex !important;
  }
  .logo{
    width: 50px;
    height: auto;
  }
  .project-details{
    display: flex;
    flex-direction: column;
    background-image: url('../images/background-paper.jpeg');
    font-family: 'Roboto', sans-serif;
  }
  .project-details-header{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5px;
    i{
      color: lightblue;
    }
    i:hover{
      color: red;
    }
  }
  .screenshot-container{
    display: flex;
    flex-direction: row;
  }
  .screenshot{
    width: 150px;
    height: 150px;
    margin: 10px;
    @media screen and (max-width: 500px) {
      width: 50px;
      height: 50px;
    }
  }
  .content-container{
    flex: 1;
    display: flex;
  }
  .project-details-left{
    flex:1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
  }
  .project-details-logos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .project-details-right{
    flex: 1;
    flex-direction: column;
    text-align: center; 
    margin: 10px;
    font-size: 16pt; 
  }
  .project-description{
    text-align: justify;
  }
  .tech-used-header{
    font-size: 26pt;
  }
  .tech-used{
    font-size: 20pt;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }