.intro-container {
    background-image: url('../images/asfalt-dark.png');
    color:black;
    min-height: 100vh;
    max-height: 100%;
    display: grid;
    grid-template-areas: 
    "intro" 
    "introMenu";  
    background-attachment: fixed;
    background-position: center;
    justify-content: space-between;
    align-content: space-between;
}
.intro{
    grid-area: intro;
    display: grid;
    grid-template-areas: 
        "introLeft introRight";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;  
    margin-top: 80px;
    @media screen and (max-width: 800px) {
        display: block;
        // grid-template-areas: 
        // "introLeft" 
        // "introRight";
        // grid-template-rows: 1fr 1fr;
        // grid-template-columns: 1fr;
        // max-height: 100%;
    } 
}
.intro-left{
    grid-area: introLeft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align:left;
    font-size: 6em; 
    font-weight: 900;  
    @media screen and (min-width: 1500px) {
        font-size: 7em;
        div{
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            height: 100%;
        }
    }
    @media screen and (max-width: 800px) {
        height: 100%;
        font-size: 4em;
        div{
            // display: flex;
            // flex-direction: row;
        }
    }
    #intro-text-1, #intro-text-2{
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        font-family: 'Open Sans', sans-serif;        
        opacity: 0;
        animation: fadein 3s;
        -webkit-animation: fadein 3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        
    }
    #intro-text-1{
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
    }
    #intro-text-2{
        animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
    }
}
.intro-right{
    grid-area: introRight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-flow: space-around;
    .intro-header{
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        text-align: center;
        width: 100%;
        font-size: 20pt;
        font-weight: 1000;
        opacity: 0;
        animation: fadein 4s;
        animation-delay: 1.75s;
        animation-fill-mode: forwards;
        -webkit-animation: fadein 4s;
        -webkit-animation-delay: 1.75s;
        -webkit-animation-fill-mode: forwards; 
        @media screen and (min-width: 1500px) {
            font-size: 32pt;
            letter-spacing: 2px;          
        }          
    }
    .fa-circle{
        font-size: 10pt;
        line-height: 80px;
    }
    span{
        display: inline-block;
        background-color: red;
        height: 25px;
        width: 2px;
        margin: 0 7px 0 7px;
        @media screen and (max-width: 500px) {
            display: block; 
            height: 1px;
            width: 200px;
            margin: 0 auto 0 auto; 
        }
        @media screen and (min-width: 1500px) {
            height: 35px;
            width: 3px;
            margin: 0 10px 0 10px;
        }
    }
    .intro-text {
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        text-align: justify;        
        opacity: 0;
        width: 80%;
        max-width: 600px;
        font-size: 18pt;
        animation: fadein 4s;
        -webkit-animation: fadein 4s;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards; 
        @media screen and (min-width: 1500px) {
            font-size: 20pt;
            font-weight: 100;
            max-width: 800px;
        }
        
    }
}

.intro-menu {
    grid-area: introMenu;
    @media screen and (max-width: 600px) {
        display: none;
    }
    margin-top: auto;
    font-size: 14pt;    
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: space-between;
    max-height: 100px;
    a{
        color: red;
        text-decoration: none;
    }
    #intro-link, #project-link, #resume-link, #contact-link{
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        opacity: 0;
        animation: fadein 4s;
        animation-fill-mode: forwards;     
        -webkit-animation: fadein 4s;
        -webkit-animation-fill-mode: forwards;
    }
    #intro-link{
        animation-delay: 3s;    
        -webkit-animation-delay: 3s;    
    }
    #project-link{
        animation-delay: 3.3s;    
        -webkit-animation-delay: 3.3s;    
    }
    #resume-link{
        animation-delay: 3.6s;     
        -webkit-animation-delay: 3.6s;     
    }
    #contact-link{
        animation-delay: 3.9s;      
        -webkit-animation-delay: 3.9s;      
    }
}
