.project-top{
  height: 100%;
}
.project-header{
  display: flex;
  justify-content: center;  
  flex-direction: column;
  height: 40vh;
  text-align: center;
  box-shadow: inset  0  8px 16px -8px rgba(0, 0, 0, 0.9), inset  0  22px 40px -8px rgba(0, 0, 0, 0.19);
  // inset  0 -8px 16px -8px rgba(0, 0, 0, 0.9), inset 0 -22px 40px -8px rgba(0, 0, 0, 0.19);
  color:#5E3448;
  font-size: 2.4em;
  @media screen and (max-width: 500px) {
    font-size: 1.5em;
  }
}
.project-card{
  min-height: 100%;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  margin: 0 auto 0 auto;
}
.project-tile{
  color: white;
  font-size: 28pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all .35s ease-in;
  height: 300px;
  margin: 2px;
}
.project-link a{
  color: white;
  font-size: 24pt;
  text-decoration: none;
}
.project-link a:hover{
  color: blue;
}
.project-title{
  font-size: 48pt;
}
.project-tile:hover{
  color: black;
  justify-content: space-between;
  background-color: white !important;
  cursor: pointer;
}
.logo-container{
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}
.project-tile:hover .logo-container{
  display: flex !important;
}
.logo{
  width: 50px;
  height: auto;
}
.project-details {
  background-image: url('../images/Elegant_Background-17.jpg');
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; 
}
.project-background-container{
  hr{
    background-color:white;
  }
  color: white;
  display: grid;
  grid-template-areas: 
  "projectHeader projectHeader" 
  "screenshotContainer screenshotContainer"
  "projectDetailsLeft projectDetailsRight";
  grid-template-rows: 100% 100% 100%;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1000px) {
    display: grid;
    grid-template-areas: 
    "projectHeader" 
    "screenshotContainer"
    "projectDetailsLeft"
    "projectDetailsRight";
    grid-template-rows: repeat(100%);
    grid-template-columns: 1fr;
  }
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(2, 2, 2, 0.7);
}

.project-details-header{
  grid-area: projectHeader;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 5px;
  i{
    color: lightblue;
  }
  i:hover{
    color: red;
  }
}
.screenshot-container{
  grid-area: screenshotContainer;
}

.screenshot{
  width: 150px;
  height: 150px;
  margin: 10px;
  @media screen and (max-width: 500px) {
    width: 50px;
    height: 50px;
  }
}
  .project-details-left{
    grid-area: projectDetailsLeft;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
  }
  .project-details-logos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .project-details-right{
    grid-area: projectDetailsRight;   
    flex-direction: column;
    text-align: center; 
    padding: 15px;
    font-size: 16pt; 
    @media screen and (max-height: 1000) {
      height: 100%;
    }
  }
  .project-description{
    text-align: justify;
  }
  .tech-used-header{
    font-size: 26pt;
  }
  .tech-used{
    font-size: 20pt;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }