/*  IntroSection */
@import './introStyle';

/* ProjectSection */
@import './projectStyle.scss';

/* ResumeSection */
@import './resumeStyle.scss';
 
/* ContactSection */
@import './contactStyle.scss';

/* Global styles below */
h1, h2 {
  font-size: 3em
}
p {
  font-family: 'Open Sans', sans-serif;          
  opacity:1;
}
ul {
  padding:0px;
  list-style: none;
  display: flex;
  flex:1;
}
li {
  flex: 1;
  text-align: center;
}
li a {
  color: white;
  text-decoration: none;
  font-size: 125%;
}
li a:hover {
  color: skyblue;
}
.header h2{
  margin: 0;
}
.title{
  font-family: 'Montserrat', sans-serif;  
}

 
 
 
 
 

